SECRET_KEY=''
DEBUG=True

DB_NAME=''

# CORS/Frontend integrations
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS='http://localhost:3000,http://127.0.0.1:3000'
CSRF_TRUSTED_ORIGINS='http://localhost:3000,http://127.0.0.1:3000'
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

EMAIL_HOST=''
EMAIL_PORT=''
EMAIL_USE_TLS=''
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''
ADMIN_EMAIL='fotsoeddysteve@gmail.com'
